<aside class="sidebar">

    <div class="sidebar-container">
      <div class="sidebar-logo">
        <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Music Reviews{% endif %}</a>
      </div>
  
      <menu class="sidebar-menu">
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/blog/">Blog</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/staff/">Staff</a></li>
        
      </menu>
  
    </div>
  </aside>